gridview child {
  border-radius: 5px;
  margin: 0px;
  padding: 3px;
}

gridview revealer {
  border-radius: 5px;
}

video {
  background-color: @window-fg-color;
}

/* Library Grid View Overlay */
.overlay-gradient {
  border: none;
  border-radius: 0px;
  background: linear-gradient(#000000AA, #00000000);
  opacity: .85;
}

.media-cell-label {
  font-weight: 500;
  font-size: 100%;
  padding: 2px;
  padding-right: 3px;
}

.menu-button {
  background-color: @window-fg-color;
  min-height: 26px;
  min-width: 26px;
  margin: 0;
  padding: 0;
}

.menu-button:hover {
  background-color: @borders;
}

.force-light {
  color: white;
}

/* Viewer Details Preference Rows */
.sidebar-pane {
  background-color: @window-fg-color;
}

.sidebar-pane row.property {
  background-color: @window-fg-color;
}

/* https://gitlab.gnome.org/GNOME/console/-/blob/main/src/style.css */
/* Licensed under the GNU GPLv3 */
.themeselector {
  padding: 6px;
}

.themeselector .check {
  background: @accent_bg_color;
  color: @accent_fg_color;
  padding: 2px;
  border-radius: 17px;
  margin: 3px;
}


.themeselector checkbutton {
  outline-offset: 1px;
  transition: none;
}

.themeselector checkbutton check {
  -gtk-icon-source: none;
  background: none;
  padding: 12px;
  min-height: 24px;
  min-width: 24px;
  border: none;
  outline-color: currentColor;
  transition: none;
  box-shadow: inset 0 0 0 1px @borders;
}

.themeselector checkbutton check:checked {
  box-shadow: inset 0 0 0 2px @accent_bg_color;
}

.themeselector checkbutton.system check {
  background: linear-gradient(-45deg, #1e1e1e 49.99%, white 50.01%);
  border-radius: 9999px;
}

.themeselector checkbutton.light check {
  color: alpha(black, .8);
  background-color: white;
  border-radius: 9999px;
}

.themeselector checkbutton.dark check {
  color: white;
  background-color: #1e1e1e;
  border-radius: 9999px;
}

/* End of GNU GPLv3 licensed work */
